body {
    margin: 0;
    padding: 0;
    cursor: url(img/aim.png), text;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url(img/bg.png) repeat-x bottom left;
}

@keyframes duckfly {
    0% {
        transform: translateX(150%);
        top: 10%;
    }
    25% {
        transform: translateX(80%);
        top: 50%;
    }
    50% {
        transform: translateX(50%);
        top: 30%;
    }
    75% {
        transform: translateX(40%);
        top: 30%;
    }
    100% {
        transform: translateX(-150%);
        top: 10%;
    }
}

.duck {
    position: absolute;
    width: 8vw;
    height: 8vw;
    background: url(img/duck_black.png) no-repeat center;
    background-size: contain;
    animation: duckfly 10s linear infinite;
}

.score {
    position: absolute;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    background-color: #dadada;
    text-align: center;
    width: 100%;
    font-size: 2vw;
}
